<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>


<style>

    /* .board {
       display: flex;
      align-items: center;
      justify-content: center;
      height: 20vh;
      
     
      
    } */
    *{ margin: 0;
       padding: 0;
    }

    .board_wrap {
      width: 800px;
      margin: 100px auto;
      
    }
    
     .board_title { 
         margin-bottom:30px;
      
     }
     .board_title strong {
         font-size:3rems;
     }
    
     .bt_wrap {
       margin-top: 30px;
       text-align: center;
       font-size:30px;
      
       
     }
    
    .page{
       margin-top: 30px;
       text-align: center;

    }

    a{
      text-decoration-line:none;
      color:grey;

    }
     
    /* .board {
      
      display:block;
      justify-content: center;
      margin-left:auto;
      margin-right:auto;
    } */

    /* #btn{
      position: absolute;
      left: 50%;
      transform: trnaslateX(-50%);
    } */

    /* #pagenum{
      
      width:50%;
      height:50px; 
      text-align: center;
      
    } */
</style>
</head>

<body>
  <div class="board_wrap">
    <div class="board_title">
     <strong>자유게시판</strong>
    </div>

     <form id="form_main">
      <table class="board" width="800" height="200" style="color:grey;" cellspacing="2" cellpadding="10" width=30%>
        
        
          <colgroup>
             <col width="10%" />
             <col width="30%" />
             <col width="20%" />
             <col width="20%" />
             <col width="10%" />
          </colgroup>
          <tr>
             <th>번호</th>
             <th>제목</th>
             <th>글쓴이</th>
             <th>등록일</th>
             <th>조회수</th>
          </tr>
          <% for (let i=0; i <data.length; i++) { %>
          <tr>
             <td><%=data[i].number%></td></a>
             <td><a href="/user/read?number=<%=data[i].number%>"><%=data[i].title%></a></td>
             <td><%=data[i].id%></td>
             <td><%=data[i].date%></td>
             <td><%=data[i].hit%></td>

          </tr> 
          <% } %>    
       </table>
   
    </form>    
   
       

     
    

    <div class="page">
       <nav aria-label="Page navigation example">
         <ul class="pagination justify-content-center " >
           <li class="page-item"><a class="page-link" href="#">Previous</a></li>
           <li class="page-item"><a class="page-link" href="#">1</a></li>
           <li class="page-item"><a class="page-link" href="#">2</a></li>
           <li class="page-item"><a class="page-link" href="#">3</a></li>
           <li class="page-item"><a class="page-link" href="#">Next</a></li>
         </ul>
       </nav>
    </div>
      <div class="bt_wrap">
    
        <button type="button" class="btn btn-outline-secondary"title="글작성" id="btn" onclick="document.location.href='/user/write'">글작성</button>
        
      </div> 
    </div>
  </div>  

<script>
  
</script>
    


</body>

</html>