<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-">
    <title>Document</title>
</head>

<body>

    <form action="/Form3" method="post" name="getform2">

        이름<input type="text" name="id" placeholder="ID" pattern="^([a-zA-Z0-9가-힣]){4,}$" required title="대소문자, 한글, 숫자, 4글자 이상"/>
        비밀번호<input type="password" name="pw" placeholder="PW" pattern="^([a-z0-9]){8,12}$" title="소문자, 숫자로 8자리 이상 12자리 이하" required/>
        e-mail <input type="email" name="email" placeholder="username@beststartupever.com"
        pattern=".+@beststartupever\.com">
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" value="남자" id="men" required>
            <label for="men">남자</label>
            <input type="radio" name="gender" value="여자" required> 여자

        </fieldset>
        <fieldset>
            <select name="birthYear">
                <% for(var i=1; i<=2023; i++) {%>
                    <option value="<%=i%>">
                        <%=i%>년
                    </option>
                    <% } %>

            </select>
            <select name="birthmonth">
                <% for(var i=1; i<=12; i++) {%>
                    <option value="<%=i%>">
                        <%=i%>월
                    </option>
                    <% } %>

            </select>
            <select name="birthday">
                <% for(var i=1; i<=31; i++) {%>
                    <option value="<%=i%>">
                        <%=i%>일
                    </option>
                    <% } %>

            </select>
        </fieldset>

        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="interst" value="여행" />여행
            <input type="checkbox" name="interst" value="패션" />패션
            <input type="checkbox" name="interst" value="음식" />음식
        </fieldset>
        <fieldset>
            <legend>선택</legend>
            <p></p>

            <div>
                <input type="color" id="head" name="head" value="#e66465">
                <label for="head">좋아하는 색상</label>
            </div>

            <div>
                <input type="text" name="id" required>좋아하는 숫자
            </div>


        </fieldset>
        <button type="submit">회원가입</button>

    </form>

    <script>
        console.log(document.forms["getform"])
    </script>
</body>

</html>